.container {
  color: rgb(43, 95, 163);
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.container > * {
  margin: 0 10px;
  color: rgb(43, 95, 163);
  flex: 1 1 50px;
}

.best-score{
  color: rgb(43, 95, 163);
  text-align: center;
}

.question-text {
  text-align: center;
  color: rgb(252, 252, 252);
  font-size: 24px;
}

.score-section {
  text-align: center;
  color: rgb(43, 95, 163);
  font-size: 24px;
}

.numero-question {
  color: rgb(43, 95, 163);
  font-size: 24px;
}

.question-text {
  text-align: center;
  color: rgb(43, 95, 163);
  font-size: 24px;
}

.block-best-score{
  background-color: rgba(31, 181, 192, 0.555);
  border: none;
  color: white;
  padding: 16px 24px;
  text-align: center;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 20px;

}
.Pseudo {
  color: rgb(43, 95, 163);
  font-size: 18px;
  margin-bottom: 10px;
}

.navbar {
  color: rgb(43, 95, 163);
}



.continent{
  background-color: rgb(40, 32, 87);
  border: none;
  color: white;
  padding: 16px 24px;
  text-align: center;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;

}

.button {
  background-color: rgb(40, 32, 87);
  border: none;
  color: white;
  padding: 16px 24px;
  text-align: center;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 24px;
}

.button:hover {
  background-color: rgb(141, 228, 243);
}

.continent {
  background-color: rgb(40, 32, 87);
  border: none;
  color: white;
  padding: 16px 24px;
  text-align: center;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 24px;
}

.continent:focus {
  background-color: rgb(141, 228, 243);
}

.button-play {
  background-color: rgb(40, 32, 87);
  border: none;
  color: white;
  padding: 16px 24px;
  text-align: center;
  margin-bottom: 5px;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  border-radius: 24px;
}

.button:hover {
  background-color: rgb(141, 228, 243);
}
.score-section {
  color: rgb(43, 95, 163);
  text-align: center;
}

.select-continent {
  color: rgb(43, 95, 163);
  text-align: center;
}

.p {
  color: rgb(43, 85, 163);
}

.card {
  background-color: rgb(196, 236, 248);
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}


.level-section{
  background-color: rgb(196, 236, 248);
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}